
.festivals-list {
    padding: 0 1rem;
}

.festival-block .col1 {
    min-width: 320px;
}


.festival-concert-list {
    margin-top: 1rem;
}

.festival-concert-list li {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.festival-concert-list li input {
    margin-right: 1rem;
}

.festival-concert-list li label {
    cursor: pointer;
}

.festival-concert-list label strong,
.festival-concert-list label small {
    display: block;
}

.col1 {
}

.col2 h2 {
    font-size: 50px;
    color : red;
    font-style: oblique;
}
.col2 .date{
    font-weight: bold;
}