.profile_title {
    font-size: 500%;
    color: blue;
    text-align: center;
}

.userinfo {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 200%;
}

.userinfo td{
    padding: 1rem;
    border-bottom: 1px solid #cee;

}

.userinfo td:first-child{
    font-weight: bold;
    padding-left: 0;
}

.profile_calendar {
    font-size: 500%;
    color: darkorange;
    text-align: center;
}


