h6 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.promo-text {
    font-size: 200%;
    font-weight: 400;
    text-align: center;

    width: 60%;
    margin:auto;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}